.points{
  background-color: rgb(240,240,240);
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  overflow: scroll;
  .header{
    background-color: #ffffff;
    height: 120px;
    .content{
      margin: 10px  20px 10px 20px;
      //border: 1px solid green;
      display: flex;
      justify-content: space-between;
      .left{
        height: 50px;
        img{
          border-radius: 50%;
          border: 1px solid;
          width: 50px;
          height: 50px;
        }
        span{
          font-size: 16px;
          line-height: 50px;
          margin-left: 10px;
          font-weight: bold;
          color: #333;
        }
      }

      .right{
        line-height: 100%;
        img{
          width: 11px;
          height: 9px;
          margin-right: 13px;
        }
        span{
          font-size: 13px;
          line-height: 50px;
        }
      }
    }


  }

  .photo{
    padding-right: 18px;
    padding-left: 18px;
    top: -15px;
    position: relative;
    img{
      width: 100%;
    }
  }

  .allGoods{
    height: 100%;
    .title{
      font-size: 15px;
      color: #333;
      height: 40px;
      line-height: 40px;
      padding-left: 18px;
    }

    .lists{
      margin-top: -15px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0px 18px;
      .list{
        width: 48%;
        height: 30.27vh;
        background-color: #ffffff;
        border-radius: 8px;
        margin-top: 18px;
        .img{
          padding: 9px 35px 0px 35px;
          text-align: center;
          width: 100%;
          height: 18.27vh;
          img{
            width: 100%;
            height: 100%;
          }
        }

        .title{
          font-size: 12px;
          color: #333;
          margin-left: 10px;
          overflow: hidden;
          text-overflow:ellipsis;
          margin-right: 10px;
          white-space: nowrap;
          border-bottom: 1px solid #EDEDED;
          height: 4.5vh;
          line-height: 4.5vh;
        }

        .middle{
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding: 5px 10px;
          //height: 12px;
          .left{
            flex:5;
            display: flex;
            font-size: 12px;
            line-height: 12px;
            img{
              width: 60%;
              height: 60%;
              line-height: 12px;
            }
          }

          .price{
            font-size: 12px;
            line-height: 12px;
            flex: 3;
          }

        }

        .button{
          color:#487BF2;
          text-align:center;
          margin-top:-5px;
          :global{
            .am-button{
              //border: 1px solid black;
              span{
                color:#487BF2;
              }
            }
            .am-button-ghost::before{
              content: '';
              position: absolute;
              left: 0;
              top: 6px;
              width: 200%;
              height: 140%;
              border: 1PX solid #487BF2;
              border-radius: 50px;
              transform-origin: 0 0;
              transform: scale(0.5);
              box-sizing: border-box;
              pointer-events: none;
            }
          }
        }
      }
    }
  }



}
//.modal{
  :global{
    width:225px;
    height: 280px;
    //border: 1px solid;
    .am-modal, .am-modal-transparent{
      //border: 1px solid;
      margin: 205px 75px auto 75px;
      .am-modal-content{
        width:225px;
        height:280px;
        padding-top: 0px;
        background-color: unset !important;
        //border: 2px solid black;

        .am-modal-body{
          //border: 2px solid pink;
          padding: 0px 0px ;
          overflow: hidden;

          img{
            width: 85%;
          }
        }
      }
    }
  }
//}
