.points{
  background-color: rgb(240,240,240);
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  overflow: scroll;
  .header{
    background-color: #ffffff;
    height: 16vh;
    .content{
      margin: 10px  20px 10px 20px;
      //border: 1px solid green;
      display: flex;
      justify-content: space-between;
      .left{
        height: 7.46vh;
        display: flex;
        .userImg{
          border: 1px solid #ddd;
          border-radius: 50%;
          height: 7.46vh;
          width: 7.46vh;
          line-height: 7.46vh;
          overflow: hidden;
          background-color:#ddd;
          img{
            width:100%;
            height: 100%;
          }
        }

        span{
          font-size: 16px;
          line-height: 50px;
          margin-left: 10px;
          font-weight: bold;
          color: #333;
        }
      }

      .right{
        line-height: 100%;
        img{
          width: 11px;
          height: 9px;
          margin-right: 13px;
        }
        span{
          font-size: 13px;
          line-height: 50px;
        }
      }
    }


  }

  .photo{
    padding-right: 18px;
    padding-left: 18px;
    margin-top: -5vh;
    img{
      width: 100%;
    }
  }

  .allGoods{
    //height: 100%;
    .title{
      font-size: 15px;
      color: #333;
      height: 40px;
      line-height: 40px;
      padding-left: 18px;
    }

    .nothing{
      .waiting{
        //background-color: #ffffff;
        height: 100%;
        text-align: center;
        img{
          margin-top: 20%;
          line-height: 100%;
          width:50%;
        }
        div{
          color: #999999;
          text-align: center;
          padding-top: 28px;
        }
      }

    }

    .lists{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0px 18px;


      .list{
        width: 48%;
        background-color: #ffffff;
        border-radius: 8px;
        margin-bottom: 15px;
        .img{
          text-align: center;
          width: 100%;
          height: 25vh;
          img{
            width: 100%;
            height: 100%;
            border-radius: 8px 8px 0 0;
          }
        }

        .title{
          font-size: 12px;
          color: #333;
          margin-left: 10px;
          overflow: hidden;
          text-overflow:ellipsis;
          margin-right: 10px;
          white-space: nowrap;
          border-bottom: 1px solid #EDEDED;
          height: 5.5vh;
          line-height: 5.5vh;
        }

        .middle{
          display: flex;
          justify-content: space-between;
          padding: 0 1vh;
          height: 3.6vh;
          line-height: 3.6vh;
          margin-top: 0.5vh;

          .imgContainer{
            //width: 20%;
            height: 3.6vh;
            line-height: 3.6vh;
            img{
              //width: 11px;
              //height: 9px;
              //width: 30%;
              height: 30%;
            }

            .integral{
              font-size: 12px;
              line-height: 3.6vh;
              height: 3.6vh;
              //margin-left: -25vw;
            }
          }



          .price{
            font-size: 12px;
            line-height: 3.6vh;
            height: 3.6vh;
          }
        }

        .myButton{
          border-radius: 30px;
          background-color: #fff;
          font-size: 12px;
          border: 1px solid #487BF1;
          color: #487BF1
        }
      }
    }
  }
}

:global{
  width:225px;
  height: 280px;
  .am-modal, .am-modal-transparent{
    margin: 205px 75px;
    .am-modal-content{
      height: 100%;
      padding-top: 0px;
      background-color: transparent !important;
      .am-modal-body{
        padding: 0px 0px ;
        overflow: hidden;
        img{
          width: 85%;
        }
      }
    }
  }
}
