.container {
  //height: 100%;
  background-color: #6160FB;
  //overflow-y: scroll;
  .head {
    //position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    //border: 1px solid;
  }



  //限量
  .limitedTitle {
    //margin-bottom: 0.5rem;
    text-align: center;
    font-size: 0.56rem;
    font-weight: bold;
    color: #fff;
    width: 100%;
    height: 2rem;
    //border: 1px solid white;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    div:nth-child(2) {
      margin: 0 0.2rem;
    }
    div:first-child, div:last-child {
      width: 10%;
      img {
        width: 80%;
      }
    }
  }

  .limitedHot {
    //border: 1px solid red;
    background-color: #fff;
    //width: 96%;
    margin: 0 0.3rem;
    padding: 0.3rem 0.1rem;
    display: flex;
    justify-content: center;

    border-radius: 0.27rem;
    .limitedHotGoods {
      //border: 1px solid red;
      width: calc((100% - 0.2rem ) / 3);
      div:first-child {
        width: 100%;
        text-align: center;
        img {
          width: 95%;
          border-radius: 0.2rem;
        }
      }

      div:nth-child(2) {
        font-size: 0.32rem;
        font-weight: bold;
        padding: 0 5%;
        height: 1.0rem;
        line-height: 1.0rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      div:last-child {
        height: 0.5rem;
        color: #FF5656;
        text-align: center;
        font-size: 0.37rem;
      }
    }
  }

  .hotTitle {
    //border: 1px solid;
    box-sizing: border-box;
    display: flex;
    padding: 0 4%;
    justify-content: space-between;
    //margin-top: 19rem;
    height: 2rem;
    line-height: 2rem;

    .hotLeft {
      box-sizing: border-box;
      display: flex;
      div:first-child {
        font-weight: bold;
        color: #fff;
        margin-right: 0.1rem;
        font-size: 0.45rem;
      }
      div:last-child {
        font-size: 0.29rem;
        height: 0.6rem;
        margin: 0.7rem 0;
        line-height: 0.6rem;
        padding: 0 0.2rem;
        border-radius: 0.5rem;
        color: #605FFA;
        background-color: #FDF25D;
      }
    }

    .hotRight {
      display: flex;
      color: #fff;

      div:nth-child(2),div:nth-child(3){
        display: flex;
        div {
          height: 0.6rem;
          line-height: 0.6rem;
          margin-top: 0.65rem;
          margin-left: 0.1rem;
          padding: 0 0.08rem;
        }

        div:nth-child(Odd) {
          border-radius: 0.1rem;
          color: #605FFA;
          background-color: #FDF25D;
        }
      }


      div:nth-child(3) {
        div:first-child {
          background-color: unset !important;
          color: unset !important;
        }
      }
    }
  }

  .hotList {
    //margin-bottom:1rem;
    background-color: #EFEFFF;
    //border: 1px solid red;
    border-radius: 0.27rem;
    //padding-bottom: 0.6rem ;
    padding-top: 0.1rem;
    padding-bottom: 0.3rem;
    margin: 0 0.3rem;
    //width: calc(100% - 0.6rem);
    .lineChild {
      height: 3.4rem;
      background-color: #fff;
      border-radius: 0.2rem;
      margin: 0.3rem;
      padding: 0.3rem;
      //border: 1px solid yellow;
      box-sizing: border-box;
      display: flex;
      .lineImg {
        width: 2.8rem;
        img {
          width: 2.8rem;
          border-radius: 0.2rem;
        }
      }

      .details {
        //border: 1px solid red;
        width: calc(100% - 3rem);
        .goodsName {
          font-size: 0.32rem;
          color: #333;
          //width: 100%;
          height: 1rem;
          //border: 1px solid ;
          white-space: normal;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box; //将对象作为弹性伸缩盒子模型显示。
          //-webkit-box-orient: vertical; //从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）
          -webkit-line-clamp: 2; //这个属性不是css的规范属性，需要组合上面两个属性，表示显示的行数。此处为2行
          word-wrap: break-word;//允许单词内断句，首先会尝试挪到下一行，看看下一行的宽度够不够，不够的话就进行单词内的断句
        }

        .bottomPrice {
          //border: 1px solid;
          margin-top: 0.4rem;
          display: flex;
          justify-content: space-between;
          height: 1.4rem;
          .leftPrice {
            //width: 65%;
            .move {
              font-size: 0.37rem;
              color: #FF5656;
              height: 0.9rem;
              line-height: 0.9rem;
            }
            .market {
              padding: 0 0.3rem;
              //margin-top: 0.3rem;
              text-align: center;
              font-size: 0.27rem;
              color: #999;
              text-decoration: line-through;
            }
          }

          .soldOut,.status{
            text-align: center;
            font-size: 0.32rem;
            padding: 0 0.5rem;
            line-height:0.8rem;
            height: 0.8rem;
            margin: 0.3rem 0;
            border-radius: 0.32rem;
          }
          .soldOut {
            background-color: #FFEBEBEB;
            color: #999;
          }

          .status {
            background-color: #FF5656;
            color: #fff;
          }
        }

      }
    }

    div:last-child {
      margin: 0 2%;
    }
  }

  .hotSpace {
    height: 0.5rem;
    width: 100%;
    background-color: #6160FB;
  }


}
