.imgBanner{
  /*margin-top: 10px;*/
  width: 100%;
  height: 100%;
}
.img{
  width: 100%;
}
.imgBackground{
  background-image: url("../../../assets/img/join-btn-back.png");
  margin-top: -4px;
  padding: 5px;
}
